<h1>Edit Game character</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.admin_game_character_path(@conn, :update, @game_character)) %>

<span><%= link "Back", to: Routes.admin_game_character_path(@conn, :index) %></span>
