<h1>Show Game character</h1>

<ul>

  <li>
    <strong>Image:</strong>
    <%= @game_character.image %>
  </li>

  <li>
    <strong>Name:</strong>
    <%= @game_character.name %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.admin_game_character_path(@conn, :edit, @game_character) %></span>
<span><%= link "Back", to: Routes.admin_game_character_path(@conn, :index) %></span>
