<h1>Edit Scene</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.admin_scene_path(@conn, :update, @scene)) %>

<span><%= link "Back", to: Routes.admin_scene_path(@conn, :index) %></span>
